.system-main {
    width: 100%;
    overflow: auto;
}

.btn-area {
    // margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.popup {
    .el-form {
        padding: 0 2rem;
    }

    .el-input {
        width: 30%;
    }
}